@model Pizza
<div class="pizze_index">
    <div class="pizza_card">
        <img src="@Model.Image" />
        <span>Stelle</span>
        <p>@Model.Description</p>
        <h3>@Model.Title</h3>
        <p><span>$@Model.Price</span></p>
    </div>
</div>

